.LoginPage {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    flex-direction: column;
    width: 100vw;
  }
  #page1 {
    background-color: #1d1d1d;

    h1 {
      font-size: 12rem;
    }
    button {
      padding: 1rem 6rem;
      background-color: #1ed579;
      border: none;
      outline: none;
      color: white;
      cursor: pointer;
      border-radius: 27px;
      font-size: 24px;
      font-weight: 600;
    }
  }

 
}
